<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bongani Fruits</title>
</head>
<body>
    <nav>
        <a href="{{url_for('login')}}">Login</a>
    </nav>
    <h1>About us</h1>
    <p>At Bongani Fruits, we're passionate about delivering nature's goodness straight to your doorstep. We specialize in offering a wide array of premium dried fruits that redefine snacking with their unbeatable taste and health benefits.</p>
    <h1>Our Story</h1>
    <p>Bongani Fruits began with a simple yet powerful vision, to provide individuals and families with a delectable and nutritious snacking option that aligns with their active lifestyles. The journey started with 4 South African entrepreneurs that saw an opportunity to turn locally provided fruits into a sustainable snack, as they say local is lekker. We have committed ourselves to source the finest, sun-ripened fruits across the country and transform them into an irresistible, wholesome snack.</p>
</body>
</html>
