<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/images/logo.jpg">
    <title>Bongani Fruits</title>
    <!-- Style Sheet-->
    <link rel="stylesheet" href="../static/styles/home.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-centre">
            <img src="../static/images/Bongani fruits logo.jpg" alt="logo">
            <h1>Bongani Fruits</h1>
            <section>
                <a href="/products_cart">Products</a>
                <a href="/logout">Logout</a>
            </section>
        </div>
    </nav>
    <div class="about">
        <img src="../static/images/About us.jpg" alt="about us img">
        <h1>About us</h1>    
        <p>At Bongani Fruits, we're passionate about delivering nature's goodness straight to your doorstep. We specialize in offering a wide array of premium dried fruits that redefine snacking with their unbeatable taste and health benefits.</p>
        <p>Bongani Fruits began with a simple yet powerful vision, to provide individuals and families with a delectable and nutritious snacking option that aligns with their active lifestyles. The journey started with 4 South African entrepreneurs that saw an opportunity to turn locally provided fruits into a sustainable snack, as they say local is lekker. We have committed ourselves to source the finest, sun-ripened fruits across the country and transform them into an irresistible, wholesome snack.</p>
    </div>
    <div class="value">
        <h1>Value Proposition</h1>    
        <img src="../static/images/Value.jpeg" alt="value img">
        <p>What sets Bongani Fruits apart is our unwavering dedication to quality. Each piece of fruit undergoes a meticulous drying process that preserves its natural flavours and nutrients. We take pride in offering products that are free of additives and preservatives, ensuring that every bite bursts with the organic essence of the fruits. 
                Our dried fruits are not just delicious, they are also your partners in wellness. Packed with vitamins, minerals and fibre. They make for a guilt free snacking choice. Whether you are powering through a busy day or fuelling for an adventure, Bongani Fruits are the perfect companions.
        </p>
    </div>
    <div class="sustainability">
        <h1>Sustainability</h1>    
        <p>As stewards of the environment, we are committed to sustainable practices. Fruits are sourced responsibly, supporting local farmers whenever possible. The drying process uses the pairing of solar dryers together with air dehydrators to ensure the products reach optimal crispness whilst reducing the environmental impact. With Bongani Fruits, you can enjoy natures bounty whilst contributing to a healthier planet.</p>
        <img src="../static/images/Sustainabilty.jpeg" alt="Sustainability img">
    </div>
    <div class="experience">
        <h1>Join the Experience</h1>
        <img src="../static/images/Experience.jpeg" alt="experience img">
        <p>We invite you to savour the taste of nature, on dried fruit at a time. Whether you are indulging in the sweet chewiness of dried pineapples or the zing and tang of a lemon, Bongani fruits offers a variety of flavours to be explored.
                You can order online, shopping with us is convenient and easy. Browse our online selection of dried fruits and let us take care of the rest. We will have your favourite snack delivered to your doorstep, ready to satisfy your cravings.
        </p>
    </div>
</body>
</html>
