<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/images/logo.jpg">
    <title>Bongani Fruits</title>
    <!-- Style Sheet-->
    <link rel="stylesheet" href="../static/styles/product_cart.css">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="navbar-centre">
            <img src="../static/images/Bongani fruits logo.jpg" alt="logo">
            <h1>Bongani Fruits</h1>
            <section>
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('login') }}">Login</a>
            </section>            
        </div>
    </nav>
    <!-- End of Navbar-->
    <!-- Products -->
    <h3>*** Please login to purchase ***</h3>
    <section class="products">
        <div class="section-title">
            <h2>Products</h2>
        </div>
        <div class="products-center">
            
        </div>
    </section>
    <!-- End of Products -->
    <script src="../static/scripts/products.js"></script>    
</body>
</html>